{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script id="source" type="text/javascript">
$(document).ready(function () {
    
    $.getJSON('/advertyra/campaign/{{ object_id }}/{{ start_date|date:'m-Y' }}/ajax/', function(data){
         var datasets = data;
         var extras = {
              xaxis: {
                min: (new Date("{{ start_date|date:'Y/m/d' }}")).getTime(),
                max: (new Date("{{ end_date|date:'Y/m/d' }}")).getTime(),
              },
         };

         prepareData(datasets);
         plotMulti(datasets, extras);
    });

    $('select#months').change(function(){
        var url = $(this).attr("rel").replace('0', $(this).val());
        $.getJSON(url, function(data){
             var ad_name = $('#choices').find('input:first').attr("name");
             var datasets = data;
             var extras = {
                  xaxis: {
                    min: (new Date(data[ad_name].start)).getTime(),
                    max: (new Date(data[ad_name].end)).getTime(),
                  },
             };

             prepareData(datasets);
             plotMulti(datasets, extras);
        });
    });

});
</script>
{% endblock %}

{% block footer %}
{% if object_id %}
<div id="content" class="coIM">
  <div id="content-main">
    <form id="advertisement-form">
      <fieldset class="module aligned">
      <div class="form-row title">
        <h1>{% trans 'Clicks for' %}
        <select id="months" rel="{% url campaign_click_by_month object_id 0 %}">
          {% for month in month_list %}
          <option value="{{ month|date:'m-Y' }}">{{ month|date:'F Y' }}</option>
          {% endfor %}
        </select>
        </h1>
        <div id="placeholder"></div>
        <ul id="choices"></ul>
      </div>
      </fieldset>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
