{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script id="source" type="text/javascript">
$(document).ready(function () {

    var d = {{ clicks }};
    
    var extras = {
        xaxis: {
           min: (new Date("{{ start_date|date:'Y/m/d' }}")).getTime(),
           max: (new Date("{{ end_date|date:'Y/m/d' }}")).getTime(),
        },
    };
    
    plotSingle(d, extras);

    $('select#months').change(function(){
        var url = $(this).attr("rel").replace('0', $(this).val());
        $.getJSON(url, function(data){
            var d = data.clicks;
            var extras = {
                  xaxis: { 
                  min: (new Date(data.start_date)).getTime(),
                  max: (new Date(data.end_date)).getTime(),
                },
            };
            plotSingle(d, extras);

        });
    });
    
});
</script>
{% endblock %}

{% block footer %}
{% if object_id %}
<div id="content" class="coIM">
  <div id="content-main">
    <form id="advertisement-form">
      <fieldset class="module aligned">
      <div class="form-row title">
        <h1>{% trans 'Clicks for' %}
        <select id="months" rel="{% url ad_click_by_month object_id 0 %}">
          {% for month in month_list %}
          <option value="{{ month|date:'m-Y' }}">{{ month|date:'F Y' }}</option>
          {% empty %}
          <option value="">{{ start_date|date:'F Y' }}</option>
          {% endfor %}
        </select>
        </h1>
        <div id="placeholder"></div>
      </div>
      </fieldset>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
